<% include layout/header%>              
                <!--	Feature Product	-->
                <div class="products">
                    <h3>Sản phẩm nổi bật</h3>
                    <%for(key in prdFeatured){%>               
                        <%if(start ==1){%>
                            <div class="product-list card-deck">     
                        <%}%>    
                        <div class="product-item card text-center">
                            <a href="/product/<%=prdFeatured[key]._id%>"><img src="/static/<%=prdFeatured[key].prd_image%>"></a>
                            <h4><a href="/product/<%=prdFeatured[key]._id%>"><%=prdFeatured[key].prd_name%></a></h4>
                            <p>Giá Bán: <span><%=prdFeatured[key].prd_price%></span></p>
                        </div>
                        <%if(start ==3){%>
                    </div>
                    <%start=0}start++%>
                    <%}%>
                </div>
              
                <!--	End Feature Product	-->
                <br>
                
                <!--	Latest Product	-->
                <div class="products">
                    <h3>Sản phẩm mới</h3>
                    <%for(key in prdLastest){%>               
                        <%if(start ==1){%>
                            <div class="product-list card-deck">     
                        <%}%>    
                        <div class="product-item card text-center">
                            <a href="/product/<%=prdLastest[key]._id%>"><img src="/static/<%=prdLastest[key].prd_image%>"></a>
                            <h4><a href="/product/<%=prdLastest[key]._id%>"><%=prdLastest[key].prd_name%></a></h4>
                            <p>Giá Bán: <span><%=prdLastest[key].prd_price%></span></p>
                        </div>
                        <%if(start ==3){%>
                    </div>
                    <%start=0}start++%>
                    <%}%>
                </div>
                <!--	End Latest Product	-->
<% include layout/footer%>       